.package-hero {
    position: relative;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}
.package-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 50% opacity */
    z-index: 1;
}

.package-hero-content {
      font-family: "Nunito", sans-serif;
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 70%;
}
.package-hero-content h1{
      font-family: "Nunito", sans-serif;
    font-size: 55px;
}
.package-hero-content p {
      font-family: "Nunito", sans-serif;
    font-size: 20px;
}